.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.container .heater {
  background-color: var(--secondary-color);
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  margin-bottom: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  border: 1px solid var(--black-color);
}

.container .min {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: var(--black-color);
  top: 9rem;
  left: 2rem;
  border-radius: 50%;
}

.container .min::before {
  content: "";
  position: absolute;
  height: 1rem;
  width: 2px;
  background-color: var(--black-color);
  bottom: 1px;
  transform: rotate(225deg);
  transform-origin: bottom;
}

.container .max {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: var(--black-color);
  top: 9rem;
  left: 8rem;
  border-radius: 50%;
}

.container .max::before {
  content: "";
  position: absolute;
  height: 1rem;
  width: 2px;
  background-color: var(--black-color);
  bottom: 3px;
  transform: rotate(135deg);
  transform-origin: bottom;
}

.container .temperature {
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  font-weight: 500;
}

.container .heater .indicator {
  position: absolute;
  height: 5px;
  width: 5px;
  display: flex;
  justify-content: center;
}

.container .heater .indicator::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border: 4px solid var(--red-color);
  border-radius: 50%;
  background-color: var(--black-color);
  z-index: 2;
}

.container .heater .indicator .temp {
  position: absolute;
  height: 5rem;
  width: 3px;
  background-color: var(--red-color);
  bottom: 0;
  transform-origin: bottom;
}
